name: home
services:
  dns-updater:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./config.yaml:/config.yaml
    command: ["./dist/app", "-config", "/config.yaml"]
